{% extends 'base.html.twig' %}

{% block title %}Urls{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('welcome') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('url.my') }}">My Urls</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="controls">
        <a href="{{ path('url.create') }}" class="btn btn-success">Create Url</a>
    </div>

    <div class="card">
        <div class="card-body">

           {# {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2">{{ form_widget(form.name) }}</div>
                <div class="col-md-2">{{ form_widget(form.email) }}</div>
                <div class="col-md-2">{{ form_widget(form.role) }}</div>
                <div class="col-md-2">{{ form_widget(form.status) }}</div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Filter</button>
                    <a href="{{ path('users') }}" class="btn btn-outline-secondary">Reset</a>
                </div>
            </div>
            {{ form_end(form) }}#}

        </div>
    </div>

    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'id', 'id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'ip', 'ip') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'browser', 'browser') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'country', 'country') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'created_at', 'created_at') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user_url_log in pagination %}
                <tr>
                    <td>{{ user_url_log.id }}</td>
                    <td>{{ user_url_log.ip }}</td>
                    <td>{{ user_url_log.browser }}</td>
                    <td>{{ user_url_log.country }}</td>
                    <td>{{ user_url_log.created_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}